body{
font-family: Arial;
text-align:center;
background:#e3f2fd;
}

input{
padding:10px;
margin:10px;
}

button{
padding:10px 15px;
background:#2196f3;
color:white;
border:none;
cursor:pointer;
}